@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
@media (max-width: 640px) {
  .placeholder-xs::placeholder {
    font-size: 10px;
  }
}
@media (min-width: 641px) {
  .placeholder-xs::placeholder {
    font-size: 14px;
  }
}